#reco-card-container{
    display: grid;
    grid-template-columns: 4fr 3.33fr 3.33fr 3.33fr;
    gap: 4px;
}
.reco-img-conten{
    position: relative;
}
.reco-overlay{
    position: absolute;
    background-color: #ffffff4e;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.reco-overlay:hover{
    background-color: rgba(0, 0, 139, 0);
}