@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

#sevice-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-card {
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    margin: 2px;
    transition: 0.3s;
}

.service-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 0px;
}


.service-card:hover a {
    background-color: #0D6EFD;
    color: #fff;
}

.service-card a {
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}

#sevice-grid img {
    width: 100%;
}

#sevice-grid h4 {
    text-align: center;
    font-family: 'Gloock', serif;
    line-height: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

#sevice-grid p {
    text-align: center;
    color: gray;
}