.modal-with {
    width: 100%;
}

#sele-section {
    display: grid;
    grid-template-columns: 7fr 5fr;
    position: relative;
}

.sell-card {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    gap: 8px;
    height: 77vh;
    overflow-y: scroll;

}

.sell-card::-webkit-scrollbar {
    width: 8px;
}

.sell-card::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.sell-card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0, 112, 188);
}

#modal-body {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 2px;
}

#grid-img {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    gap: 3px;
}

.sell-img {
    gap: 5px;
    height: 95vh;
    overflow-y: scroll;
}

.sell-img::-webkit-scrollbar {
    width: 8px;
}

.sell-img::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.sell-img::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0, 112, 188);
}

/* module icon styleing */
#module-icon {
    font-size: 30px;
    color: #5371FF;
    display: flex;
    gap: 0 7px;
}

#module-icon span {
    font-size: 18px;
}

#module-icon span:hover {
    text-decoration: underline;
}

/* module price section */
.sell-price p {
    line-height: 0.2rem;
}

.scroll {
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
    margin: 15px 0;
    padding: 10px 0;
    display: flex;
    overflow-x: scroll;
    width: 350px;
}

.scroll::-webkit-scrollbar {
    height: 4px;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0, 112, 188);
}

.scroll a {
    color: grey;
    text-decoration: none;
    margin: 0 7px 0 0;
    white-space: nowrap;

}

.scroll a:hover {
    color: #5371FF;
}


.scroll-section {
    margin: 0 0 10px 0;
    border-bottom: 2px solid gainsboro;
    padding: 0 5px;
}

/* sell details scroll */


.sell-details-scroll {
    gap: 5px;
    height: 67vh;
    overflow-y: scroll;
}

.sell-details-scroll::-webkit-scrollbar {
    width: 8px;
}

.sell-details-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

.sell-details-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0, 112, 188);
}

/* Oberview section */
.scroll-section li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

.scroll-section li span {
    font-size: 24px;
    margin: 0 10px;
    color: #5371FF;
}

.scroll-section div p span {
    background: #5370ff6a;
    margin: 0 3px;
    font-size: 17px;
    font-weight: 500;
    line-height: 0.5rem;
}

.tast-style {
    height: 350px;
}

.tast-style:nth-child(odd) {
    background-color: gainsboro;
}

.btn-scroling {
    display: flex;
    gap: 5px;
    width: 750px;
    overflow-x: scroll;
}

.btn-scroling button {
    white-space: nowrap;
    margin: 0 0 15px 0 ;
}

.btn-scroling::-webkit-scrollbar {
    height: 6px;

}

.btn-scroling::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(226, 226, 226);

}

.btn-scroling::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(0, 112, 188);

}